.card {
  margin: auto;
  position: relative;
  top: 60px;
  margin-bottom: 70px;
  width: 25%;
  height: 65vh;
  border-radius: 10px;
  background-color: #f1ffe3;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.description {
  margin: auto;
  width: 30%;
  height: 4rem;
  background-color: #d0e2bc;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
}
